<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form.validationResults>
	<f:if condition="{validationResults.flattenedErrors}">
		<ul class="p-0 mb-3 list-unstyled error">
		    <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
                <li class="mb-1">
                    {propertyPath}: <f:for each="{errors}" as="error">{error}</f:for>

                </li>
		    </f:for>
		</ul>
    </f:if>
</f:form.validationResults>
</html>
