<div class="container">
	<div class="blackboardOffers">
  		<h2><f:translate key="tx_blackboard_domain_model_offer.h2"  /></h2>
		<p><f:translate key="tx_blackboard_domain_model_offer.would"  /></p>
  		<br />
	  	<f:link.action action="list" class="btn btn-secondary"><f:translate key="tx_blackboard_domain_model_offer.nodel"  /></f:link.action>
	  	<f:link.action action="delete" class="btn btn-danger" arguments="{offer:offer}"><f:translate key="tx_blackboard_domain_model_offer.yesdel"  /></f:link.action>
	</div>
</div>