<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Offer:
          Index.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Offer</h1>

    <f:flashMessages />

    <table class="tx_blackboard">
        <tr>
            <th><f:translate key="tx_blackboard_domain_model_offer.title" /></th>
            <th><f:translate key="tx_blackboard_domain_model_offer.author" /></th>
            <th><f:translate key="tx_blackboard_domain_model_offer.email" /></th>
            <th><f:translate key="tx_blackboard_domain_model_offer.description" /></th>
            <th><f:translate key="tx_blackboard_domain_model_offer.kind" /></th>
            <th><f:translate key="tx_blackboard_domain_model_offer.images" /></th>
            <th><f:translate key="tx_blackboard_domain_model_offer.files" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{offers}" as="offer">
            <tr>
                <td><f:link.action action="show" arguments="{offer : offer}">{offer.title}</f:link.action></td>
                <td><f:link.action action="show" arguments="{offer : offer}">{offer.author}</f:link.action></td>
                <td><f:link.action action="show" arguments="{offer : offer}">{offer.email}</f:link.action></td>
                <td><f:link.action action="show" arguments="{offer : offer}">{offer.description}</f:link.action></td>
                <td><f:link.action action="show" arguments="{offer : offer}">{offer.kind}</f:link.action></td>
                <td><f:link.action action="show" arguments="{offer : offer}">{offer.images.originalResource.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{offer : offer}">{offer.files.originalResource.name}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{offer : offer}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{offer : offer}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Offer</f:link.action>
</f:section>
</html>
